@model EducationDetailModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .nav-tabs {
        border-bottom: none;
        background-color: transparent;
        /* Eğer arkaplan rengini değiştirmek isterseniz burayı düzenleyebilirsiniz */
    }

    .nav-link {
        border: none;
        border-radius: 0;
    }
</style>

<div class="container mt-5">
    <div class="row">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item m-2" role="presentation">
                <input class="form-check-input active kredi_karti" value="Kredi Kartı" id="nav-home-tab" data-bs-toggle="tab"
                       data-bs-target="#nav-home" type="radio" name="d" role="tab" aria-controls="nav-home"
                       aria-selected="true" checked />
                <label class="form-check-label m-1" for="nav-home-tab">
                    Kredi kartı ile ödemek istiyorum
                </label>
            </li>
            <li class="nav-item m-2" role="presentation">
                <input class="form-check-input havale" value="Havale" id="nav-profile-tab" data-bs-toggle="tab"
                       data-bs-target="#nav-profile" type="radio" name="d" role="tab" aria-controls="nav-profile"
                       aria-selected="false" />
                <label class="form-check-label m-1" for="nav-profile-tab">
                    Banka havalesi ile ödemek istiyorum
                </label>
            </li>

        </ul>


        <div class="col-lg-7 col-12 mb-4">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <form method="post" class="mt-4">
                        <div class="form-group mb-3">
                            <label>Kart Sahibinin Adı</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group mb-3">
                            <label>Kart Numarası</label>
                            <input type="text" onkeypress="return isNumberKey(event)" class="form-control" />
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-12 mb-3">
                                <label>Son Kullanma Tarihi</label>
                                <input type="date" class="form-control" />
                            </div>
                            <div class="col-lg-6 col-12">
                                <label>CVV</label>
                                <input type="text" class="form-control" />
                            </div>


                        </div>
                        <div class="row mt-3">
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-primary pay">Öde <i class="fa fa-lock"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="card mt-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <img src="~/egitim/bank.jpg" class="img-fluid" />
                                </div>
                                <div class="col-lg-8">
                                    <br />
                                    <h4>TR76 0009 9012 3456 7800 1000 01</h4>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-primary pay">Öde <i class="fa fa-lock"></i></button>
                        </div>
                    </div>
                </div>
            </div>



        </div>





        <div class="col-lg-5 col-12">
            <div class="card card_bg">
                <div class="card-body">
                    <img style="border-radius:15px" class="img-fluid" src="@Model.Image" />
                    <div class="row mt-3 mb-3">
                        <div class="col-lg-6 col-12 mb-2">
                            <div class="d-flex justify-content-start">
                                <h4> @Model.EducationName</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12 mb-2">
                            <div class="d-flex justify-content-end">
                                <h4> @Model.Price.ToString("0") TL</h4>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <small class="mt-2 mb-2" style="color:#555555">Deneyimli eğitmenlerimiz sizlere en güncel bilgileri sunar. Pratik örnekler ve ders notları ile hukuk alanında ustalaşmanıza yardımcı olurlar.</small>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

   

    $(document).ready(function(){
        $(".pay").click(function(e){
            e.preventDefault();
            var selectedPaymentMethod = $("input[name='d']:checked").val();
            $.ajax({
                type:'Post',
                url:'/Payment/Pay/' + @Model.Id,
                data: { educationId: @Model.Id , PaymentType: selectedPaymentMethod },
                success:function(res){
                    Toastify({
                        text: 'Ödemeniz başarılı bir şekilde alındı.',
                        duration: 1000,
                        newWindow: true,
                        close: true,
                        position: "right",
                    }).showToast();

                    setTimeout(function () {
                        window.location.href = '/Home/Index';
                    }, 1000);
                }
            })
        })
    })

</script>

